---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23kroger
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ngKEBTGNYmNL0BkMt1HQH2MTo", oauth_nonce="9db0b76e7e96bdc5b19c2d0761d02a4b",
        oauth_signature="2tRLelBQ0zHyTUCsDxLbnpkv9xg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1490383640", oauth_token="460307143-DcWOObQKCvxOM2YIsvfS9Qgwapd5T0x1S8N69Zp2",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 24 Mar 2017 19:27:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 674c24e520ae48bd5d4c137edd1aede5
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1490384545'
      X-Response-Time:
      - '236'
      X-Transaction:
      - 00fb6c9f00c4e453
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Fri Mar 24 19:00:35 +0000 2017","id":845349645152927744,"id_str":"845349645152927744","text":"Glad
        Trash Bags $5.99 at Kroger (Reg Price $8.99) https:\/\/t.co\/1qGZJg7Qbw #Kroger","truncated":false,"entities":{"hashtags":[{"text":"Kroger","indices":[74,81]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/1qGZJg7Qbw","expanded_url":"http:\/\/www.krogerkrazy.com\/2017\/03\/glad-trash-bags-kroger\/","display_url":"krogerkrazy.com\/2017\/03\/glad-t\u2026","indices":[50,73]}]},"metadata":{"iso_language_code":"da","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/leenk.me\/\" rel=\"nofollow\"\u003eleenk.me\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":125841937,"id_str":"125841937","name":"Katie","screen_name":"KrogerKrazy","location":"Ohio","description":"Kroger
        Krazy is committed to finding and sharing the best Kroger deals to save you
        money on the things your family needs most! All #Kroger, All Day.","url":"http:\/\/t.co\/yRWpwudXOt","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/yRWpwudXOt","expanded_url":"http:\/\/www.krogerkrazy.com","display_url":"krogerkrazy.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":13571,"friends_count":5616,"listed_count":90,"created_at":"Wed
        Mar 24 01:38:59 +0000 2010","favourites_count":115,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":26499,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"CC3366","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme17\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme17\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/742760704781000704\/YOQOg5j6_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/742760704781000704\/YOQOg5j6_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/125841937\/1410365475","profile_link_color":"CC3366","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"E6F6F9","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"da"},{"created_at":"Fri
        Mar 24 18:48:44 +0000 2017","id":845346659404001280,"id_str":"845346659404001280","text":"Who
        ever you are that left this, you are what''s wrong with the world. #kroger
        #disgusting\u2026 https:\/\/t.co\/ICvcrC6yxz","truncated":false,"entities":{"hashtags":[{"text":"kroger","indices":[70,77]},{"text":"disgusting","indices":[78,89]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/ICvcrC6yxz","expanded_url":"https:\/\/ww[...]
